@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Flex University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Flex University</h2>
        <p>
            Flex University is an online university that provides a flexible learning environment for students.
        </p>
        <img src="https://images.pexels.com/photos/6146978/pexels-photo-6146978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Students on Campus grounds" />
    </div>
</div>